<!DOCTYPE html>

<html>
	<head>
		<title>ViaDNS | Log In</title>
		
		<link type="text/css" rel="stylesheet" href="static/stylesheet.css" />
	</head>
	<body>
		<div class="nav-bg">
			<div class="nav-content">
				<a href="/projects-resos/viadns/">&lt;</a> Log In
			</div>
		</div>
		
		<div class="content-bg">
			<div class="login-form">
			{% if message %}
				{{ message|safe }}<br />
				<br />
			{% endif %}
				
				<form action="{{ request.path }}" method="post">
					<table>
						{% csrf_token %}
						{{ form }}
						<tr>
							<td colspan="2" align="right">
								<input type="submit" value="Log In">
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>
